<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de César</title>
</head>
<body>
    <h1>Acerca de César</h1>

    <ul>
        <li><a href="https://www.facebook.com/photo/?fbid=104570400928680&set=ecnf.100041271608320&locale=es_LA" target="_blank">Perfil de César</a></li>
    </ul>

    <p>Esta página es un experimento para aprender HTML y plantillas Django.</p>

    <a href="{% url 'contacto' %}">Ir a la sección de contacto</a>
    <a href="{% url 'about' %}">Ir a la sección de info</a>
</body>
</html>